Repository signalkraft/mypyllant-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest

mypy:
  name: mypy
  entry: uv run --no-sync mypy
  args:
  - --pretty
  - --show-error-codes
  - --show-error-context
  language: system
  pass_filenames: true

pytest:
  name: pytest
  entry: uv run --no-sync pytest
  args:
  - --no-cov
  language: system
  pass_filenames: false

feat: prefer Retry-After header for quota backoff duration
  custom_components/mypyllant/utils.py
  tests/test_quota.py
Due: mypy, pytest

guard against mising zone for holidays as well
  custom_components/mypyllant/utils.py
Due: mypy, pytest

reordered manifest keys
  custom_components/mypyllant/manifest.json
Due: pytest

writing statistics since last value
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

improved test skipping behavior, updated underlying library
  custom_components/mypyllant/manifest.json
  pyproject.toml
  tests/test_binary_sensor.py
  tests/test_calendar.py
  tests/test_climate.py
  tests/test_no_system.py
  tests/test_sensor.py
  tests/test_services.py
  tests/test_water_heater.py
  uv.lock
Due: mypy, pytest

upgraded locked dependencies
  uv.lock
Due: none

upgraded HA version
  pyproject.toml
  tests/test_init.py
  uv.lock
Due: mypy, pytest

fixed mypy errors after updating mypy version
  .github/workflows/build-test.yaml
  .pre-commit-config.yaml
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/config_flow.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/sensor.py
  custom_components/mypyllant/utils.py
Due: mypy, pytest

no incremental for mypy
  .pre-commit-config.yaml
Due: none

--show-traceback on mypy
  .pre-commit-config.yaml
Due: none

mypy debugging in CI
  .pre-commit-config.yaml
Due: none

conditional mypy skip cache flag
  .pre-commit-config.yaml
Due: none

fix: restore heating_circuit_flow_setpoint attribute on CircuitStateSensor
  custom_components/mypyllant/sensor.py
  tests/test_sensor.py
Due: mypy, pytest

moved documentation on statistics to docs
  .gitignore
  README.md
  docs/Dockerfile
  docs/docs/2-entities.md
  docs/docs/3-contributing.md
Due: none

pre-release version number
  custom_components/mypyllant/manifest.json
  pyproject.toml
  uv.lock
Due: pytest

hotfix for no facility error
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/manifest.json
  pyproject.toml
  uv.lock
Due: mypy, pytest

Add zone cooling operating mode sensor
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

minimum HA version in hacs.json
  hacs.json
Due: none

Fix mypyllant.report crash from datetime module shadowing
  custom_components/mypyllant/__init__.py
Due: mypy, pytest

fix: skip already-recorded buckets to prevent mid-day baseline spike
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

fix: anchor statistics baseline to window start, mirroring octopus_energy
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

Fix VRC700 ventilation: send DAY/SET_BACK instead of NORMAL/REDUCED
  custom_components/mypyllant/ventilation_climate.py
  tests/test_climate.py
Due: mypy, pytest

updated base library
  custom_components/mypyllant/manifest.json
  pyproject.toml
  uv.lock
Due: pytest

improved HA 2026.7.0 compatibility for tests
  pyproject.toml
  tests/conftest.py
  tests/test_services.py
Due: mypy, pytest

fix: statistics daily-reset, midnight re-publish, dedup unchanged buckets
  custom_components/mypyllant/sensor.py
  tests/test_sensor.py
Due: mypy, pytest

Fix Python 2 exception syntax that breaks import on Python 3
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/utils.py
  tests/test_calendar.py
Due: mypy, pytest

fixed mypy error
  tests/test_climate.py
Due: mypy, pytest

Add scf/iQconnect device support (control identifier 'scf')
  custom_components/mypyllant/__init__.py
  custom_components/mypyllant/binary_sensor.py
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/number.py
  custom_components/mypyllant/scf.py
  custom_components/mypyllant/scf_entity.py
  custom_components/mypyllant/scf_write.py
  custom_components/mypyllant/select.py
  custom_components/mypyllant/sensor.py
  custom_components/mypyllant/services.yaml
  custom_components/mypyllant/utils.py
  tests/scf_state_sample.json
  tests/test_scf.py
Due: mypy, pytest

Path conditions:
  mypy: any of: ^(tests|custom_components)/.+\.py$
  pytest: any of: ^(tests|custom_components)/.+\.(py|json|yaml)$
