Repository signalkraft/mypyllant-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest

mypy:
  name: mypy
  entry: uv run --no-sync mypy
  args:
  - --pretty
  - --show-error-codes
  - --show-error-context
  language: system
  pass_filenames: true

pytest:
  name: pytest
  entry: uv run --no-sync pytest
  args:
  - --no-cov
  language: system
  pass_filenames: false

bump pytest-hass-custom-component and fix tests
  pyproject.toml
  tests/test_services.py
  uv.lock
Due: mypy, pytest

Set device class for SystemDevicePowerSensor
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

Hopefully fixed missing unit for earned PV energy sensor #397
  custom_components/mypyllant/sensor.py
  docs/docs/index.md
Due: mypy, pytest

Updated base dependency, fixed issue with multiple events in a day not marking calendars as active
  .claude/settings.json
  custom_components/mypyllant/calendar.py
  custom_components/mypyllant/manifest.json
  pyproject.toml
  tests/test_calendar.py
  tests/test_services.py
  uv.lock
Due: mypy, pytest

version update
  custom_components/mypyllant/manifest.json
  pyproject.toml
  uv.lock
Due: pytest

updated mypyllant library, to fix issue with inactive zones
  custom_components/mypyllant/manifest.json
  docs/docs/3-library.md
  pyproject.toml
  tests/test_calendar.py
  tests/test_climate.py
  uv.lock
Due: mypy, pytest

updated pytest dependency
  pyproject.toml
  tests/test_services.py
  uv.lock
Due: mypy, pytest

Using Wh as energy unit for all data sensors
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

Link to https://hacs.xyz/docs/use/ instead of https://hacs.xyz/docs/setup/download
  README.md
Due: none

fix: coordinator recovery after quota exceeded and API down
  custom_components/mypyllant/coordinator.py
Due: mypy, pytest

test: add regression tests for quota recovery and state clearing
  tests/test_quota.py
Due: mypy, pytest

Link to https://hacs.xyz/docs/use/ instead of https://hacs.xyz/docs/setup/download (#427)
  README.md
Due: none

ran ruff and ignored typing warnings in test_quota
  custom_components/mypyllant/coordinator.py
  tests/test_quota.py
Due: mypy, pytest

fix: coordinator recovery after quota exceeded and API down (#431)
  custom_components/mypyllant/coordinator.py
  tests/test_quota.py
Due: mypy, pytest

upped version
  custom_components/mypyllant/manifest.json
  pyproject.toml
  uv.lock
Due: pytest

Expose heating circuit's flow temperature setpoint (#393)
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

feat: prefer Retry-After header for quota backoff duration
  custom_components/mypyllant/utils.py
  tests/test_quota.py
Due: mypy, pytest

fix: restore heating_circuit_flow_setpoint attribute on CircuitStateSensor
  custom_components/mypyllant/sensor.py
  tests/test_sensor.py
Due: mypy, pytest

added note for ebusd-vaillant component
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
Due: none

Apply ruff formatting to pass pre-commit checks
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

Add tests for DataSensor._write_hourly_statistics
  tests/test_sensor.py
Due: mypy, pytest

Add recorder to after_dependencies in manifest
  custom_components/mypyllant/manifest.json
Due: pytest

Use timedelta(days=7) for baseline sum lookback to match octopus_energy
  custom_components/mypyllant/sensor.py
Due: mypy, pytest

Fix temperature control for VRC700 controllers with heating and cooling
  custom_components/mypyllant/climate.py
Due: mypy, pytest

Fix data_from=None, add recorder-robust startup, day-aware stats, 2-day fetch, README docs
  README.md
  custom_components/mypyllant/coordinator.py
  custom_components/mypyllant/sensor.py
  tests/test_sensor.py
Due: mypy, pytest

Fix VRC700 preset mode read/write when cooling is active
  custom_components/mypyllant/climate.py
Due: mypy, pytest

Add Plotly Graph visualisation example to Energy Statistics docs
  README.md
Due: none

ran ruff format
  custom_components/mypyllant/climate.py
Due: mypy, pytest

removed outdated changelog, added agents.md file
  AGENTS.md
  CHANGELOG.md
Due: none

agents disclaimer
  AGENTS.md
Due: none

guard against mising zone for holidays as well
  custom_components/mypyllant/utils.py
Due: mypy, pytest

docs: update Plotly Graph visualisation example with LTS temperature and range buttons
  README.md
Due: none

Fix VRC700 heating manual/DAY mode temperature setting
  custom_components/mypyllant/climate.py
Due: mypy, pytest

Path conditions:
  mypy: any of: ^(tests|custom_components)/.+\.py$
  pytest: any of: ^(tests|custom_components)/.+\.(py|json|yaml)$
